<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GUID</key>
	<string>C7847DCB-0416-F786-C3CC-14407ABDCFFD</string>
	<key>Layout Version</key>
	<integer>1</integer>
</dict>
</plist>
